PySimpleGUI
jsonpickle
pandas
numpy
openai==1.2.3 #Note that old openai version need a migrate to work
#For the web app
flask
flask-socketio
#Read google sheet, not used if use local file
google-api-python-client 
google-auth-httplib2 
google-auth-oauthlib
#end
pyautogen #python >= 3.8